In [370]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

###### from dotenv import load_dotenv
load_dotenv()

In [421]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET")

In [422]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [423]:
#Top Stocks for each sector

In [426]:

# Set the tickers
tickers =  ["SPY", "BRK.B", "PRU", "JNJ", "BAC", "RTX", "DIS", "RIO","WMT","NEE","ORCL","PG" ]
timeframe = "1D"

# Set start and end datetimes 
start_date = pd.Timestamp("2006-01-03", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2010-12-30", tz="America/New_York").isoformat()


# Get historical data for all stocks
c1_ticker = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
 
).df

# Display sample data
c1_ticker.head()

                             BAC                                  BRK.B  \
                            open   high    low  close     volume   open
time
2010-08-10 04:00:00+00:00  13.76  13.82  13.61  13.64  121913954  80.07
2010-08-11 04:00:00+00:00  13.50  13.52  13.16  13.18  169734997  78.89
2010-08-12 04:00:00+00:00  13.05  13.35  13.02  13.07  137536380  76.98
2010-08-13 04:00:00+00:00  13.11  13.34  13.11  13.24   98178932  76.88
2010-08-16 04:00:00+00:00  13.13  13.29  13.09  13.20   92150490  76.50

                                                           ...     SPY  \
                              high    low  close   volume  ...    open
time                                                       ...
2010-08-10 04:00:00+00:00  80.3700  79.01  79.62  2992240  ...  112.03
2010-08-11 04:00:00+00:00  78.9700  77.38  77.53  4965040  ...  110.65
2010-08-12 04:00:00+00:00  77.4698  76.62  77.04  3655570  ...  107.64
2010-08-13 04:00:00+00:00  77.5200  76.70  76.82  2478420  ...  108.29
2010-08-16 04:00:00+00:00  77.2500  76.04  76.84  2499910  ...  107.57

                                                                    WMT  \
                             high       low     close     volume   open
time
2010-08-10 04:00:00+00:00  112.98  111.3701  112.4200  202262432  51.91
2010-08-11 04:00:00+00:00  110.69  109.1200  109.2901  223970698  51.62
2010-08-12 04:00:00+00:00  109.02  107.6000  108.6400  190434932  50.56
2010-08-13 04:00:00+00:00  108.96  108.1800  108.3000  130664078  50.33
2010-08-16 04:00:00+00:00  108.61  107.1800  108.2800  127670449  50.17


                            high    low  close    volume
time
2010-08-10 04:00:00+00:00  52.48  51.69  52.22   8386724
2010-08-11 04:00:00+00:00  51.62  50.98  51.06  10478685
2010-08-12 04:00:00+00:00  50.78  50.01  50.42  11984599
2010-08-13 04:00:00+00:00  50.74  50.00  50.41   9173744
2010-08-16 04:00:00+00:00  50.57  50.06  50.40   9132398

[5 rows x 60 columns]

In [427]:
df_closing_prices = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in tickers:
    df_closing_prices[ticker] = c1_ticker[ticker]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Display sample data
df_closing_prices.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2010-08-10,112.4200,79.62,59.18,59.4700,13.64,NaN,35.30,53.96,52.22,53.75,24.30,60.80
2010-08-11,109.2901,77.53,56.62,58.5499,13.18,NaN,34.24,50.94,51.06,52.68,23.67,60.29
2010-08-12,108.6400,77.04,55.47,58.5100,13.07,NaN,30.44,50.63,50.42,52.06,22.94,60.00
2010-08-13,108.3000,76.82,55.48,58.1700,13.24,NaN,33.66,51.04,50.41,52.03,22.67,59.85
2010-08-16,108.2800,76.84,54.69,58.0100,13.20,NaN,33.65,51.91,50.40,52.29,22.72,59.75

In [428]:
df_closing_prices_cumulative_returns = (1 + df_closing_prices).cumprod() - 1
df_closing_prices_cumulative_returns

df_closing_prices_cumulative_returns.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2010-08-10,1.124200e+02,7.962000e+01,5.918000e+01,5.947000e+01,13.640000,NaN,3.530000e+01,5.396000e+01,5.222000e+01,5.375000e+01,2.430000e+01,6.080000e+01
2010-08-11,1.250810e+04,6.330089e+03,3.466572e+03,3.599982e+03,206.595200,NaN,1.278212e+03,2.853622e+03,2.769633e+03,2.937980e+03,6.231510e+02,3.786722e+03
2010-08-12,1.371497e+06,4.940772e+05,1.958128e+05,2.142935e+05,2919.864464,NaN,4.021743e+04,1.473832e+05,1.424650e+05,1.559413e+05,1.494117e+04,2.310500e+05
2010-08-13,1.499047e+08,3.844916e+07,1.105956e+07,1.267980e+07,41592.109967,NaN,1.393970e+06,7.669870e+06,7.324174e+06,8.269618e+06,3.536803e+05,1.405945e+07
2010-08-16,1.638159e+10,2.992883e+09,6.159070e+08,7.482352e+08,590621.161537,NaN,4.830108e+07,4.058129e+08,3.764626e+08,4.406880e+08,8.389319e+06,8.541119e+08

In [429]:
#df_closing_prices_cumulative_returns

In [430]:
# Set the ticker
ticker =  ["SPY", "BRK.B", "PRU", "JNJ", "BAC", "RTX", "DIS", "RIO","WMT","NEE","ORCL","PG" ]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2014-01-02", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2017-12-29", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TSLA
c2_ticker_data = api.get_barset(
    ticker,
    timeframe,
    start="start_date",
    end="end_date",

).df

c2_ticker_data.head()

                             BAC                                    BRK.B  \
                            open     high    low  close    volume    open
time
2021-03-10 00:00:00-05:00  36.54  37.5300  36.37  37.36  48273465  260.30
2021-03-11 00:00:00-05:00  37.27  37.7900  36.85  37.24  41694794  264.22
2021-03-12 00:00:00-05:00  37.92  38.1766  37.58  37.94  43214615  262.40
2021-03-15 00:00:00-04:00  38.03  38.0700  37.22  37.74  44223838  260.31
2021-03-16 00:00:00-04:00  37.42  37.7200  36.97  37.64  44599006  254.53

                                                              ...     SPY  \
                             high       low   close   volume  ...    open
time                                                          ...
2021-03-10 00:00:00-05:00  267.50  259.6400  263.87  8005789  ...  389.69
2021-03-11 00:00:00-05:00  264.80  260.4199  260.99  5310819  ...  392.23
2021-03-12 00:00:00-05:00  264.65  259.6700  260.02  3933652  ...  392.07
2021-03-15 00:00:00-04:00  260.44  253.5200  254.49  5730004  ...  394.33
2021-03-16 00:00:00-04:00  254.53  249.8200  251.50  5619337  ...  397.07

                                                                      WMT  \
                              high       low     close     volume    open
time
2021-03-10 00:00:00-05:00  391.400  388.1702  389.5199  101349197  128.86
2021-03-11 00:00:00-05:00  395.650  391.7400  393.5000   77022138  133.36
2021-03-12 00:00:00-05:00  394.210  391.2000  394.0900   56997361  132.52
2021-03-15 00:00:00-04:00  396.685  392.0300  396.4700   64471980  134.74
2021-03-16 00:00:00-04:00  397.830  395.0800  395.9400   65719794  132.82


                             high       low   close    volume
time
2021-03-10 00:00:00-05:00  133.05  128.4700  132.18  14000990
2021-03-11 00:00:00-05:00  133.49  131.5300  132.13  11004708
2021-03-12 00:00:00-05:00  134.52  132.0801  134.10   8639807
2021-03-15 00:00:00-04:00  134.75  132.8250  133.43   6548235
2021-03-16 00:00:00-04:00  134.28  132.8200  133.39   5620005

[5 rows x 60 columns]

In [432]:
c2_closing_prices = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in tickers:
    c2_closing_prices[ticker] = c2_ticker_data[ticker]["close"]

# Drop the time component of the date
c2_closing_prices.index = c2_closing_prices.index.date

# Display sample data
c2_closing_prices.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2021-03-10,389.5199,263.87,92.80,159.09,37.36,76.55,195.05,80.20,132.18,74.46,72.11,127.35
2021-03-11,393.5000,260.99,92.39,159.15,37.24,77.03,196.75,82.50,132.13,74.85,67.42,126.89
2021-03-12,394.0900,260.02,93.88,159.63,37.94,78.52,197.06,81.26,134.10,75.67,67.18,128.15
2021-03-15,396.4700,254.49,93.80,160.38,37.74,79.57,196.73,79.58,133.43,75.48,67.72,128.55
2021-03-16,395.9400,251.50,91.39,161.31,37.64,78.23,194.22,78.79,133.39,75.38,66.84,128.91

In [433]:
c2_closing_prices_cumulative_returns = (1 + c2_closing_prices).cumprod() - 1
df_closing_prices_cumulative_returns

c2_closing_prices_cumulative_returns.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2021-03-10,3.895199e+02,2.638700e+02,9.280000e+01,1.590900e+02,3.736000e+01,7.655000e+01,1.950500e+02,8.020000e+01,1.321800e+02,7.446000e+01,7.211000e+01,1.273500e+02
2021-03-11,1.540591e+05,6.939229e+04,8.758982e+03,2.563741e+04,1.465886e+03,6.050226e+03,3.876789e+04,6.779200e+03,1.772925e+04,5.722641e+03,5.001186e+03,1.641368e+04
2021-03-12,6.086760e+07,1.811304e+07,8.311461e+05,4.118297e+06,5.711956e+04,4.811925e+05,7.678565e+06,5.577383e+05,2.395356e+06,4.388306e+05,3.410481e+05,2.119955e+06
2021-03-15,2.419305e+10,4.627700e+09,7.879274e+07,6.646110e+08,2.212849e+06,3.876976e+07,1.518283e+09,4.494263e+07,3.220079e+08,3.356184e+07,2.343689e+07,2.746403e+08
2021-03-16,9.603188e+12,1.168494e+12,7.279662e+09,1.078730e+11,8.550454e+07,3.071728e+09,2.963992e+11,3.585972e+09,4.327464e+10,2.563453e+09,1.589959e+09,3.567852e+10

In [434]:
# Set the ticker
ticker = ["SPY", "BRK.B", "PRU", "JNJ", "BAC", "RTX", "DIS", "RIO","WMT","NEE","ORCL","PG" ]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2017-01-03", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-12-30", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TSLA
c3_ticker_data = api.get_barset(
    ticker,
    timeframe,
    start="start_date",
    end="end_date",
  
).df

c3_ticker_data.head()

                             BAC                                    BRK.B  \
                            open     high    low  close    volume    open
time
2021-03-10 00:00:00-05:00  36.54  37.5300  36.37  37.36  48273465  260.30
2021-03-11 00:00:00-05:00  37.27  37.7900  36.85  37.24  41694794  264.22
2021-03-12 00:00:00-05:00  37.92  38.1766  37.58  37.94  43214615  262.40
2021-03-15 00:00:00-04:00  38.03  38.0700  37.22  37.74  44223838  260.31
2021-03-16 00:00:00-04:00  37.42  37.7200  36.97  37.64  44599006  254.53

                                                              ...     SPY  \
                             high       low   close   volume  ...    open
time                                                          ...
2021-03-10 00:00:00-05:00  267.50  259.6400  263.87  8005789  ...  389.69
2021-03-11 00:00:00-05:00  264.80  260.4199  260.99  5310819  ...  392.23
2021-03-12 00:00:00-05:00  264.65  259.6700  260.02  3933652  ...  392.07
2021-03-15 00:00:00-04:00  260.44  253.5200  254.49  5730004  ...  394.33
2021-03-16 00:00:00-04:00  254.53  249.8200  251.50  5619337  ...  397.07

                                                                      WMT  \
                              high       low     close     volume    open
time
2021-03-10 00:00:00-05:00  391.400  388.1702  389.5199  101349197  128.86
2021-03-11 00:00:00-05:00  395.650  391.7400  393.5000   77022138  133.36
2021-03-12 00:00:00-05:00  394.210  391.2000  394.0900   56997361  132.52
2021-03-15 00:00:00-04:00  396.685  392.0300  396.4700   64471980  134.74
2021-03-16 00:00:00-04:00  397.830  395.0800  395.9400   65719794  132.82


                             high       low   close    volume
time
2021-03-10 00:00:00-05:00  133.05  128.4700  132.18  14000990
2021-03-11 00:00:00-05:00  133.49  131.5300  132.13  11004708
2021-03-12 00:00:00-05:00  134.52  132.0801  134.10   8639807
2021-03-15 00:00:00-04:00  134.75  132.8250  133.43   6548235
2021-03-16 00:00:00-04:00  134.28  132.8200  133.39   5620005

[5 rows x 60 columns]

In [419]:
c2_closing_prices = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in tickers:
    c2_closing_prices[ticker] = ticker_data[ticker]["close"]

# Drop the time component of the date
c2_closing_prices.index = c2_closing_prices.index.date

# Display sample data
c2_closing_prices.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2021-03-10,389.5199,263.87,92.80,159.09,37.36,76.55,195.05,80.20,132.18,74.46,72.11,127.35
2021-03-11,393.5000,260.99,92.39,159.15,37.24,77.03,196.75,82.50,132.13,74.85,67.42,126.89
2021-03-12,394.0900,260.02,93.88,159.63,37.94,78.52,197.06,81.26,134.10,75.67,67.18,128.15
2021-03-15,396.4700,254.49,93.80,160.38,37.74,79.57,196.73,79.58,133.43,75.48,67.72,128.55
2021-03-16,395.9400,251.50,91.39,161.31,37.64,78.23,194.22,78.79,133.39,75.38,66.84,128.91

In [420]:
df_closing_prices_cumulative_returns = (1 + c2_closing_prices).cumprod() - 1
df_closing_prices_cumulative_returns

df_closing_prices_cumulative_returns.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2021-03-10,3.895199e+02,2.638700e+02,9.280000e+01,1.590900e+02,3.736000e+01,7.655000e+01,1.950500e+02,8.020000e+01,1.321800e+02,7.446000e+01,7.211000e+01,1.273500e+02
2021-03-11,1.540591e+05,6.939229e+04,8.758982e+03,2.563741e+04,1.465886e+03,6.050226e+03,3.876789e+04,6.779200e+03,1.772925e+04,5.722641e+03,5.001186e+03,1.641368e+04
2021-03-12,6.086760e+07,1.811304e+07,8.311461e+05,4.118297e+06,5.711956e+04,4.811925e+05,7.678565e+06,5.577383e+05,2.395356e+06,4.388306e+05,3.410481e+05,2.119955e+06
2021-03-15,2.419305e+10,4.627700e+09,7.879274e+07,6.646110e+08,2.212849e+06,3.876976e+07,1.518283e+09,4.494263e+07,3.220079e+08,3.356184e+07,2.343689e+07,2.746403e+08
2021-03-16,9.603188e+12,1.168494e+12,7.279662e+09,1.078730e+11,8.550454e+07,3.071728e+09,2.963992e+11,3.585972e+09,4.327464e+10,2.563453e+09,1.589959e+09,3.567852e+10

In [441]:
# Set the ticker
ticker = ["SPY", "BRK.B", "PRU", "JNJ", "BAC", "RTX", "DIS", "RIO","WMT","NEE","ORCL","PG" ]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 3 years 
start_date = pd.Timestamp("2010-01-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-12-30", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TSLA
ticker_data = api.get_barset(
    ticker,
    timeframe,
    start="start_date",
    end="end_date",
  
).df

c3_ticker_data.head()

                             BAC                                    BRK.B  \
                            open     high    low  close    volume    open
time
2021-03-10 00:00:00-05:00  36.54  37.5300  36.37  37.36  48273465  260.30
2021-03-11 00:00:00-05:00  37.27  37.7900  36.85  37.24  41694794  264.22
2021-03-12 00:00:00-05:00  37.92  38.1766  37.58  37.94  43214615  262.40
2021-03-15 00:00:00-04:00  38.03  38.0700  37.22  37.74  44223838  260.31
2021-03-16 00:00:00-04:00  37.42  37.7200  36.97  37.64  44599006  254.53

                                                              ...     SPY  \
                             high       low   close   volume  ...    open
time                                                          ...
2021-03-10 00:00:00-05:00  267.50  259.6400  263.87  8005789  ...  389.69
2021-03-11 00:00:00-05:00  264.80  260.4199  260.99  5310819  ...  392.23
2021-03-12 00:00:00-05:00  264.65  259.6700  260.02  3933652  ...  392.07
2021-03-15 00:00:00-04:00  260.44  253.5200  254.49  5730004  ...  394.33
2021-03-16 00:00:00-04:00  254.53  249.8200  251.50  5619337  ...  397.07

                                                                      WMT  \
                              high       low     close     volume    open
time
2021-03-10 00:00:00-05:00  391.400  388.1702  389.5199  101349197  128.86
2021-03-11 00:00:00-05:00  395.650  391.7400  393.5000   77022138  133.36
2021-03-12 00:00:00-05:00  394.210  391.2000  394.0900   56997361  132.52
2021-03-15 00:00:00-04:00  396.685  392.0300  396.4700   64471980  134.74
2021-03-16 00:00:00-04:00  397.830  395.0800  395.9400   65719794  132.82


                             high       low   close    volume
time
2021-03-10 00:00:00-05:00  133.05  128.4700  132.18  14000990
2021-03-11 00:00:00-05:00  133.49  131.5300  132.13  11004708
2021-03-12 00:00:00-05:00  134.52  132.0801  134.10   8639807
2021-03-15 00:00:00-04:00  134.75  132.8250  133.43   6548235
2021-03-16 00:00:00-04:00  134.28  132.8200  133.39   5620005

[5 rows x 60 columns]

In [442]:
c3_closing_prices = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in tickers:
    c3_closing_prices[ticker] = c3_ticker_data[ticker]["close"]

# Drop the time component of the date
c3_closing_prices.index = c3_closing_prices.index.date

# Display sample data
c3_closing_prices.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2021-03-10,389.5199,263.87,92.80,159.09,37.36,76.55,195.05,80.20,132.18,74.46,72.11,127.35
2021-03-11,393.5000,260.99,92.39,159.15,37.24,77.03,196.75,82.50,132.13,74.85,67.42,126.89
2021-03-12,394.0900,260.02,93.88,159.63,37.94,78.52,197.06,81.26,134.10,75.67,67.18,128.15
2021-03-15,396.4700,254.49,93.80,160.38,37.74,79.57,196.73,79.58,133.43,75.48,67.72,128.55
2021-03-16,395.9400,251.50,91.39,161.31,37.64,78.23,194.22,78.79,133.39,75.38,66.84,128.91

In [443]:
c3_closing_prices_cumulative_returns = (1 + c3_closing_prices).cumprod() - 1
c3_closing_prices_cumulative_returns

c3_closing_prices_cumulative_returns.head()

,SPY,BRK.B,PRU,JNJ,BAC,RTX,DIS,RIO,WMT,NEE,ORCL,PG
2021-03-10,3.895199e+02,2.638700e+02,9.280000e+01,1.590900e+02,3.736000e+01,7.655000e+01,1.950500e+02,8.020000e+01,1.321800e+02,7.446000e+01,7.211000e+01,1.273500e+02
2021-03-11,1.540591e+05,6.939229e+04,8.758982e+03,2.563741e+04,1.465886e+03,6.050226e+03,3.876789e+04,6.779200e+03,1.772925e+04,5.722641e+03,5.001186e+03,1.641368e+04
2021-03-12,6.086760e+07,1.811304e+07,8.311461e+05,4.118297e+06,5.711956e+04,4.811925e+05,7.678565e+06,5.577383e+05,2.395356e+06,4.388306e+05,3.410481e+05,2.119955e+06
2021-03-15,2.419305e+10,4.627700e+09,7.879274e+07,6.646110e+08,2.212849e+06,3.876976e+07,1.518283e+09,4.494263e+07,3.220079e+08,3.356184e+07,2.343689e+07,2.746403e+08
2021-03-16,9.603188e+12,1.168494e+12,7.279662e+09,1.078730e+11,8.550454e+07,3.071728e+09,2.963992e+11,3.585972e+09,4.327464e+10,2.563453e+09,1.589959e+09,3.567852e+10