In [1]:
# Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi
import csv
from pathlib import Path

In [23]:
# Read in data
# SPY Full Date Range
spy_full_date_range_df = pd.read_csv(
    Path("spy_01012011_to_12312020.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# SPY First Dip
spy_first_dip_df = pd.read_csv(
    Path("spy_10012007_to_03022009.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# SPY Second Dip
spy_second_dip_df = pd.read_csv(
    Path("spy_02022015_to_030012016.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# SPY Third Dip
spy_third_dip_df = pd.read_csv(
    Path("spy_01012018_to_12032018.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VAW Full Date Range
vaw_full_date_range_df = pd.read_csv(
    Path("vaw_01012011_to_12312020.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VAW First Dip
vaw_first_dip_df = pd.read_csv(
    Path("vaw_10012007_to_03022009.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VAW Second Dip
vaw_second_dip_df = pd.read_csv(
    Path("vaw_02022015_to_03012016.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VAW Third Dip
vaw_third_dip_df = pd.read_csv(
    Path("vaw_01012018_to_12032018.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VCR Full Date Range
vcr_full_date_range_df = pd.read_csv(
    Path("vcr_01012011_to_12312020.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VCR First Dip
vcr_first_dip_df = pd.read_csv(
    Path("vcr_10012007_to_03022009.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VCR Second Dip
vcr_second_dip_df = pd.read_csv(
    Path("vcr_02022015_to_03012016.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VCR Third Dip
vcr_third_dip_df = pd.read_csv(
    Path("vcr_01012018_to_12032018.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VIS Full Date Range
vis_full_date_range_df = pd.read_csv(
    Path("vis_01012011_to_12312020.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VIS First Dip
vis_first_dip_df = pd.read_csv(
    Path("vis_10012007_to_03022009.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VIS Second Dip
vis_second_dip_df = pd.read_csv(
    Path("vis_02022015_to_03012016.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

# VIS Third Dip
vis_third_dip_df = pd.read_csv(
    Path("vis_01012018_to_12032018.csv"),
    infer_datetime_format=True,
    parse_dates=True,
    index_col="Date",
)

spy_first_dip_df.shape

(356, 1)

In [24]:
# Full Date Range DF
# Create a new pivot table where the columns are the closing prices for each ticker
combined_full_date_range_df = pd.concat([spy_full_date_range_df, vaw_full_date_range_df, vcr_full_date_range_df, vis_full_date_range_df], axis="columns", join="inner")

# Sort datetime index in ascending order (past to present)
combined_full_date_range_df.sort_index(inplace=True)

# Set column names
combined_full_date_range_df.columns = ['SPY', 'VAW', 'VCR', 'VIS']

# Display a few rows
combined_full_date_range_df.head()

# Use the `pct_change` function to calculate daily returns
combined_full_date_range_daily_returns = combined_full_date_range_df.pct_change()
combined_full_date_range_daily_returns.head()

                 SPY       VAW       VCR       VIS
Date
2011-01-03       NaN       NaN       NaN       NaN
2011-01-04 -0.000551 -0.007327 -0.006700 -0.003977
2011-01-05  0.005198  0.001694  0.008391  0.006604
2011-01-06 -0.001959 -0.004107 -0.006200 -0.001984
2011-01-07 -0.001962 -0.002183 -0.001806  0.001223

In [26]:
# First Dip DF
# Create a new pivot table where the columns are the closing prices for each ticker
combined_first_dip_df = pd.concat([spy_first_dip_df, vaw_first_dip_df, vcr_first_dip_df, vis_first_dip_df], axis="columns", join="inner")


# Sort datetime index in ascending order (past to present)
combined_first_dip_df.sort_index(inplace=True)

# Set column names
combined_first_dip_df.columns = ['SPY', 'VAW', 'VCR', 'VIS']

# Display a few rows
combined_first_dip_df.head()

# Use the `pct_change` function to calculate daily returns
combined_first_dip_daily_returns = combined_first_dip_df.pct_change()
combined_first_dip_daily_returns.head()

                 SPY       VAW       VCR       VIS
Date
2007-10-02       NaN       NaN       NaN       NaN
2007-10-03 -0.002012 -0.012133  0.000164 -0.009208
2007-10-04  0.001561  0.001706 -0.003599  0.003485
2007-10-05  0.011882  0.017825  0.017895  0.012220
2007-10-08 -0.005326 -0.004573 -0.002903 -0.001906

In [27]:
# Second Dip DF
# Create a new pivot table where the columns are the closing prices for each ticker
combined_second_dip_df = pd.concat([spy_second_dip_df, vaw_second_dip_df, vcr_second_dip_df, vis_second_dip_df], axis="columns", join="inner")


# Sort datetime index in ascending order (past to present)
combined_second_dip_df.sort_index(inplace=True)

# Set column names
combined_second_dip_df.columns = ['SPY', 'VAW', 'VCR', 'VIS']

# Display a few rows
combined_second_dip_df.head()

# Use the `pct_change` function to calculate daily returns
combined_second_dip_daily_returns = combined_second_dip_df.pct_change()
combined_second_dip_daily_returns.head()

                 SPY       VAW       VCR       VIS
Date
2015-02-02       NaN       NaN       NaN       NaN
2015-02-03  0.014461  0.022020  0.021895  0.016425
2015-02-04 -0.003808 -0.005479  0.004714 -0.007088
2015-02-05  0.010095  0.022691  0.007165  0.010279
2015-02-06 -0.002765 -0.001461 -0.002033 -0.001130

In [28]:
# Third Dip DF
# Create a new pivot table where the columns are the closing prices for each ticker
combined_third_dip_df = pd.concat([spy_third_dip_df, vaw_third_dip_df, vcr_third_dip_df, vis_third_dip_df], axis="columns", join="inner")


# Sort datetime index in ascending order (past to present)
combined_third_dip_df.sort_index(inplace=True)

# Set column names
combined_third_dip_df.columns = ['SPY', 'VAW', 'VCR', 'VIS']

# Display a few rows
combined_third_dip_df.head()

# Use the `pct_change` function to calculate daily returns
combined_third_dip_daily_returns = combined_second_dip_df.pct_change()
combined_third_dip_daily_returns.head()

                 SPY       VAW       VCR       VIS
Date
2015-02-02       NaN       NaN       NaN       NaN
2015-02-03  0.014461  0.022020  0.021895  0.016425
2015-02-04 -0.003808 -0.005479  0.004714 -0.007088
2015-02-05  0.010095  0.022691  0.007165  0.010279
2015-02-06 -0.002765 -0.001461 -0.002033 -0.001130